*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-family:sans-serif;
    background: linear-gradient(145deg,black,black,blue,black,black) fixed no-repeat;
    /* background-size: 200%; */
    animation: wave 5s ease infinite;
}
/* @keyframes wave {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
} */
#menu{
    display: none;
}
.menu-wrapper{
    display: none;
}
.dropdown{
    display: none;
}
header{
    grid-area: header;
    height: 8rem;
    padding: 2rem;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
.head{
    background-color: rgba(4, 14, 6, 0.79);
    height: 4rem;
    border-radius: 100px;
    padding: 0 5rem;
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.528);
    animation: appear 1.5s ease;
    z-index: 1000;
}
.head:hover{
    background: black;
    transform: scale(1.02);
    transition: 0.3s ease;
}
#top-nav{
    display: flex;
    gap: 5rem;
    margin-left: 10rem;
}
h1{
    font-size: xx-large;
}
h2{
    font-size: 2.5rem;
    color: white;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70%;
    gap: 0.4rem;
}
.a:hover{
    color: blue;
}
#top-nav a{
    color: white;
    font-size: large;
    font-weight: bold;
}
/* #top-nav a:hover{
    color: rgb(0, 34, 255);
} */
input{
    font-size: large;
    font-weight: bold;
    width: 250px;
    padding: 0.4rem 1rem;
    color: black;
    outline: none;
    border: none;
    border-radius: 20px;
}
.searchbar{
    position: relative;
}
.searchbar button{
    font-size: large;
    font-weight: bold;
    padding: 0.3rem 0.4rem;
    border-radius: 20px;
    border: none;
    background: blue;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 216px;
    bottom: 2px;

}
main{
    grid-area: main;
    min-height: 100vh;
    padding: 10rem 10rem;
   
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 5rem;
    background-color: rgba(255, 255, 255, 0.371);
    border-radius: 40px;
    gap: 3rem;
    animation: appear 2s ease;
}
.hero-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    line-height: 1.6;
    font-size: 1.5rem;
}
.hero-text p{
    font-weight: bold;
    color: rgba(240, 248, 255, 0.658);
    font-size: large;
}
.hero-text button{
    padding: 0.8rem 1.3rem;
    font-size: large;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    background: linear-gradient(145deg,blue,blue,black);
    color: white;
    cursor: pointer;
}
.h-span{
    color: cyan;
}
.hero-img img{
    width: 30rem;
}
.section1{
    margin: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}
.gadgets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.gadgets .item{
    border: 9px solid rgb(255, 0, 0);
    height: 15rem;
    width: 15rem;
    border-radius: 100%;
    position: relative;
    background: rgba(240, 248, 255, 0.658);
}
.gadgets .item button{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 1rem 0rem;
    width: 10rem;
    border: none;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(145deg, blue,blue,rgba(0, 0, 0, 0.86));
    color: aliceblue;
    cursor: pointer;
}
.gadgets div:nth-child(1){
   background: url(/images/Headphones\ on\ dark\ black\ background\ Prem….jpeg);
   background-size: cover;
}
.gadgets div:nth-child(2){
    background: url(/images/apiph.jpeg) no-repeat center;
    background-size: cover;
}
.gadgets div:nth-child(3){
    background: url(/images/laptop.jpg) no-repeat bottom;
    background-size: cover;
}
.gadgets div:nth-child(4){
    background: url(/images/iwatch.jpeg) no-repeat center;
    background-size: cover;
}
.gadgets div:nth-child(5){
    background: url(/images/tabs.jpg) no-repeat center;
}
button{
    cursor: pointer;
}
.showbox{
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin: 10rem 0 5rem 0;
}
.s-t{
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.right-showbox{
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    background: blue;
    padding: 2rem;
}
.right-showbox .text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(255, 255, 255, 0.791);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-left: 2rem;
    align-items: flex-start;
    justify-content: center;
}
.right-showbox .text button{
    padding: 1rem 0rem;
    width: 10rem;
    border: none;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    background: white;
    color: blue;
    cursor: pointer;
}
.right-showbox img{
    width: 60%;
    margin: auto 0;
}
.left-showbox{
    border-radius: 30px;
    display: flex;
    align-items: center;
    background: aliceblue;
    padding: 2rem;
}
.left-showbox .text h2{
    color: blue;
}
.left-showbox .text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(0, 0, 255, 0.707);
    font-size: 1.2rem;
    line-height: 1.5;
    padding-left: 2rem;
    align-items: flex-start;
    justify-content: center;
}
.left-showbox img{
    width: 100%;
}
.left-showbox .text button{
    padding: 1rem 0rem;
    width: 10rem;
    border: none;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    background: blue;
    color: aliceblue;
    cursor: pointer;
}
.shop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10rem;
    column-gap: 2.5rem;
    margin-top: 0rem;
    width: 100%;
}
.shop-btn{
    padding: 1rem 0rem;
    width: 15rem;
    border: none;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    background: linear-gradient(145deg, blue,blue,rgba(0, 0, 0, 0.86));
    color: aliceblue;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 255, 0.643);
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    margin-top: 5rem;
}
.items{
    border-radius: 20px;
    width: 15rem;
    height: 23rem;
    overflow: hidden;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    background: rgb(249, 252, 255);
    text-align: center;
    animation: pop-up ease;
    overflow: hidden;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.items img{
    width: 100%;
    height: 60%;
}
.items button{
    background: blue;
    color: white;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
}
.news{
    width: 100%;
    background: rgba(255, 255, 255, 0.255);
    padding: 2rem;
    border-radius: 30px;
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 3rem;
    margin: 15rem 0;
    
}
.n-box{
    gap: 5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.info button{
    padding: 1rem 0rem;
    width: 10rem;
    border: none;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    background: blue;
    color: aliceblue;
    cursor: pointer;
}
.info .text{
    color: rgba(255, 255, 255, 0.797);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
}
.news-box{
    width: 22rem;
    height: 20rem;
    background: white;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.news-box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.news-box p{
    color: rgba(255, 255, 255, 0.844);
    font-weight: bold;
    line-height: 2;
}
.news-box button{
    padding: 0.3rem;
    width: 6rem;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(21, 0, 255);
}
.n-span{
    color: blue;
    font-weight: bold;
    font-size: large;
}

@keyframes pop-up {
    from{
        opacity: 0;
        scale: 0;

    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0 ;
    }
    to{
        opacity: 1;
        scale: 1 ;
    }
}
   .active{
    color: rgb(0, 34, 255);
    border-bottom: 2px solid blue;
   }
footer{
    grid-area: footer;
    background: rgb(0, 0, 0);
    border-top: 8px solid rgb(229, 229, 229);
    height: 20rem;
    position: relative;
}
.foot-cover{
    color: black;
    background-color: rgb(229, 229, 229);
    padding: 5rem;
    border-radius: 30px;
    position: absolute;
    width: 90%;
    top: -70%;
    left: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.foot-cover div img{
    width: 20rem;
}
.links h3{
    font-size: larger;
    border-bottom: 1.5px solid grey;
    width: 10rem;
    padding-bottom: 1rem;
}
.links a{
    color: rgb(87, 86, 86);
    font-size: 1.2rem;
    display: block;
    margin: 1.5rem 0;
    border-bottom: 0.8px solid grey;
    width: fit-content;
}
ul{
    list-style: none;
    padding: 0;
    cursor: pointer;
}
@media (max-width: 900px) {
    #top-nav{
       display: none;
    }
    header{
        width: 95%;
        z-index: 100;
        position: fixed;
        z-index: 1000;
    }
    .head{
       padding: 0 2rem;
       height: 3rem;
       background-color: blue;
       box-shadow: 0 0 10px black;
       z-index: 1000;
    }
    .head:hover{
        background-color: blue;
    }
    .searchbar{
       display: none;
    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* overflow-x: hidden; */
        padding:0;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 30% 0;
        width: 400px;
    }
    h1{
        font-size: larger;
    }
    h2{
        font-size: large;
    }
    h3{
        font-size: medium;
    }
    p{
        font-size: 15px;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
        padding: 2rem;
    }
    .hero-text{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .hero-img img{
        width: 160px;
    }
    .hero-text p{
        font-size: 10px;
    }
    .hero-text button{
        padding: 0.5rem;
        font-size: small;
    }
    .gadgets{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        animation: pop-up ease;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
    .gadgets .item{
        border: 9px solid rgb(255, 0, 0);
        height: 9rem;
        width: 9rem;
        border-radius: 100%;
        position: relative;
        background: rgb(255, 255, 255);
    }
    .gadgets .item button{
        font-size: smaller;
        padding: 0.5rem;
        width: 120px;
    }
    .showbox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: none;
    }
    .left-showbox{
        display: flex;
        flex-direction: column-reverse;
        width: 24rem;
        animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    }
    .right-showbox{
        display: flex;
        flex-direction: column-reverse;
        width: 24rem;
        animation: pop-up ease;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    }
    .shop{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        padding: 1rem;
        row-gap: 2rem;
    }
    .shop .items{
        width: 10rem;
        height: 17rem;
    }
    .shop .items img{
        height: 4rem;
        width: 100%;;
    }
    .price{
        font-size: 10px;
    }
    .shop-btn{
        padding: 0.5rem;
        width: 9rem;
        font-size: small;
    }
    .news{
        width: 400px;
        margin: 3rem auto;
    }
    .info button{
        padding: 0.5rem;
        width: 8rem;
        font-size: small;
    }
    .n-box{
        align-items: center;
        width: 100%;
        gap: 10px;
        padding: 0;
    }
    .news-box{
        padding: 0rem;
        width: 8rem;
        height: 8rem;
        border-radius: 10px;
    }
    footer{
        width: 100%;
        height: fit-content;
        position: static;
        background: none;
        border: none;
        padding: 0;
    }
    .foot-cover{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        gap: 2rem;
        position: static;
        padding: 1rem 5rem;
        background-color: rgba(0, 0, 0, 0.823);
        border-radius: 10px;
        border: 1px solid blue;
        margin: 0;
    }
    .links{
        /* margin: 0 auto; */
        padding: 0;
    }
    .links h3{
        font-size: medium;
        padding: 0.4rem 0;
        margin: 1rem 0;
        color: aliceblue;
    }

    .links a{
        font-size: small;
        margin: 0.5rem 0;
        color: rgba(240, 248, 255, 0.832);
    }
    .foot-cover img{
        display: none;
    }
    #menu{
        display: block;
    }
    #close{
        display: none;
    }
    .menu-wrapper{
        display: block;
    }
    .dropdown{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        width: 100%;
        background-color: rgb(0, 0, 158);
        padding: 7rem 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: -10;
        top: 0;
        left: 0;
    }
    .dropdown-a{
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        width: 100%;
        border-bottom: 1px solid rgb(0, 132, 255);
        text-align: center;
    }
    .dropdown-a a{
        color: white;
    }
    .searchbr{
        position: relative;
    }
    .searchbr button{
        font-size: large;
        font-weight: bold;
        padding: 0.3rem 0.4rem;
        border-radius: 20px;
        border: none;
        background: blue;
        color: white;
        cursor: pointer;
        position: absolute;
        left: 216px;
        bottom: 2px;
    
    }
}